.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
mat-card-header {
  position: relative;
  z-index: 10;
}

.more-button {
  position: absolute;
  top: -10px;
  right: 0;
}

.dashboard-card-content {
  // text-align: center;
  h3 {
    margin: 10px 0;
  }
}

.chart {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // pointer-events: none;
  z-index: 0;
}

.helper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: calc(100vh - 56px - 2 * 2.5rem);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
