mat-card mat-card {
  // width: 90%;
  margin: 10px 0;
  
  cursor: move;
}

.grid-tile {
  margin: 0;
  position: absolute;
  left: 0; right: 0;
  top: 0;
  box-shadow: none;
  color: #fff;
  background: rgba(0,0,0,.38);
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.droplist {
  min-height: 20px;
}
// drag and drop
.droplist.cdk-drop-list-dragging .dragbox:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.list {
  position: absolute;
  top: 0; left: 0; right: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
mat-selection-list {
  background: #fff;
}
mat-list-item, mat-list-option {
  margin: 0 10px;
}

.progress mat-progress-bar{
  display: inline-block;
  width: calc(100% - 100px);
}
.progress span {
  display: inline-block;
  width: 80px;
  float: right;
}
