
$toolbarHeight: 56px;

mat-toolbar {
  height: $toolbarHeight;
  position: relative;
  z-index: 100;
  a {
    font-size: 16px;
  }
  .title {
    font-size: inherit;
  }
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.authCard {
  background-color: #909090;
}
amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
  height: calc(100vh - #{ $toolbarHeight });
}

mat-sidenav-container {
  height: calc(100vh - #{ $toolbarHeight });
}
mat-sidenav-content {
  padding: 16px;
}
mat-nav-list {
  padding-top: 0;
}
mat-sidenav {
  width: 240px;
}
