<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="subcomponentRef?.sideNav?.toggle()" *ngIf="isPrj && !isPrjDB">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="location.back();" *ngIf="isUsr">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <a mat-button href="/" class="title"><span>SPA4Scrum<sub style="font-size: 50%; line-height: 100%;">EDU</sub></span></a>
  <a mat-button href="https://www.scrumguides.org/index.html">{{"topNav.official_guide" | translate}}</a>
  <span class="fill-remaining-space"></span>
  <span>{{authState === 'signedin' && user? user.username: "You can use the system after logging in."}}</span>
  <button mat-icon-button aria-label="translate" [matMenuTriggerFor]="LangsList">
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #LangsList="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="onChangeLang(lang)">{{lang}}</button>
  </mat-menu>
  <!-- <button mat-icon-button aria-label="message">
    <mat-icon>message</mat-icon>
  </button> -->
  <button mat-icon-button routerLink="/user" aria-label="user avatar">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<div class="authCard" *ngIf="authState !== 'signedin'">
  <amplify-authenticator>
    <amplify-sign-up
      slot="sign-up"
      [formFields]="formFields"
    ></amplify-sign-up>
  </amplify-authenticator>
</div>

<router-outlet *ngIf="authState === 'signedin' && user" (activate)="onActivate($event)"></router-outlet>
