/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126
// @import '~@angular/material/theming';

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue.
// $app-primary: mat-palette($mat-grey);
// $app-accent:  mat-palette($mat-light-blue);
// $app-warn: mat-palette($mat-pink);

// // Create the theme object (a Sass map containing all of the palettes).
// $app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($app-theme);

// // Export theme colors
// $primary: mat-color($app-primary);
// $accent: mat-color($app-accent);
// $warn: mat-color($app-warn);


// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
